<div class="container-fluid text-center">
    
<h2>About</h2>

<p>We are DevMatch, our company is focused on creating an exclusive community
for developers and buisness people to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, rem, adipisci, impedit iste consectetur veritatis facilis quam perspiciatis aut earum dolore dicta distinctio inventore quis tempora vero natus saepe accusamus.
</p>

</div>